@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar{
  width: 3px;
}
body::-webkit-scrollbar-thumb{
  width: 3px;
  background: white;
}
body::-webkit-scrollbar-track{
  width: 3px;
  background: black;
}
.styledscrollargiver::-webkit-scrollbar{
 width: 2px;
}
.styledscrollargiver::-webkit-scrollbar-thumb{
  background: rgb(185, 185, 185);
}
.styledscrollargiver::-webkit-scrollbar-track{
  background: transparent
}

.onstartanimation{
  animation: onstartanimation 2s linear;
}
@keyframes onstartanimation{
  from{transform: scale(100%)}
  50%{transform: scale(120%)}
  to{transform: scale(100%)}
}

